body{
font-family: "triforce",Triforce;
background-color : black;
Color : white}
 
 .image{
	     position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 100px;
 height: 100px;}
	
	.Police{
		color : #ffffff;
		position: absolute;
		top:50%;
		transform: translateY(-50%);
	text-align: center;}
	
	.Police h1{
		font-size: 60px;
		margin: center;
		font-weight: 900;
		letter-spacing : 20px;}
		
		.Police h2{
		font-size: 50px;}
		
		.Police p{
		font-size: 30 px;}
		
		.header{
		color : White;
		background: linear-gradient(135deg, white, black);
		color : red;
		border-radius: 30px;}}